<section class="container row">
  <div class="col-3">
    <p class="text-center">
      <strong style="font-size: 20px;">Welcome to your wishlist! I hope it is something nice!!</strong>
    </p>
  </div>

  // not sure where to pull from to get item to show which handle bar to pull from 
  <div>
    <h2>My Wishlist</h2>
    {{#if item}}
      <p>You added {{item}} to your wishlist!</p>
    {{#if selectedItem}}
      <p>You selected {{selectedItem}}!</p>
    {{else}}
      <p>No item selected.</p>
    {{/if}}
  </div>

  
  <div class="col-3">
    <button type="button" class="proceed-button" onclick="redirectToCheckout()">// find right name Proceed to Checkout</button>
  </div>

  <script>
    function redirectToCheckout() { //change function name whwn get right words for it 
      window.location.href = // not sure which handle bar to link to proceed to that page   '/checkout';
    }
  </script>


<section class="container row">
  <ul>
    <li class="col-3"></li>
    <li class="col-3"></li>

  </ul>
</section>

<script src="/pages/gift.js"></script>