

<h1>
  Welcome to your wishlist! I hope you found what you are looking for 
</h1>
{{#each actualsavedgiftData as |data|}}
<p>firstname:{{first_name}} </p>
{{/each}}

<h2>
is this what you are looking for?
</h2>

<ul>
  <li></li>
  <li></li>
  {{!-- <li></li>     i want my selected gifts to show up here  --}}
</ul>

<h3>
  <div class="col-3">
    <button type="button" class="proceed-button" onclick="redirectToCheckout()"> Proceed to Checkout</button>
  </div>

  <script>
    function redirectToCheckout() { //change function name whwn get right words for it 
      window.location.href = // not sure which handle bar to link to proceed to that page   '/checkout';
    }
  </script>
</h3>
<script src="../controllers/pages/gift.js"></script>