
<h1>
  Welcome to your wishlist! I hope you found what you are looking for
</h1>
<ul>
  {{#each gifts as |gift|}}
    <li>
  {{gift.item}}

    </li>
    <li>
      {{gift.price}}
    </li>
    
  {{/each}}
</ul>
<h2>
is this what you are looking for?
</h2>
<h3>
<div class="col-3">
  <button type="button" class="proceed-button" onclick="redirectToCheckout()">add a new gift?</button>

  <script>
    function redirectToCheckout() {
      window.location.href = "http://localhost:3001/event";
    }
  </script>
</div>
</h3>



