*{
    font-family:'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

body{
    background-color: rgba(248, 248, 246, 0.911);
}

h2,h3{
    color: rgb(13, 13, 14);
}

img {
    max-height: 300px;
    min-height: 300px;
    width: auto;
}
.form-group{
    font-weight: bolder;
}

